<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andy.myself"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="10" />

    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    
    <!-- ###################声明SDK使用的相关权限###################### -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据。 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于评论模块分享位置信息 -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>  
    <application
        android:allowBackup="true"
        android:icon="@drawable/andy"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.andy.myself.AndyApplication">
        <activity
            android:name="com.andy.myself.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CircleActivity"/>
        <activity android:name=".activity.DrawImageActivity"/>
        <activity android:name=".activity.AutoTextActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.DragViewActivity"/>
        <activity android:name=".activity.InstallActivity"/>
        <activity android:name=".activity.VolleyActivity"/>
        <activity android:name=".activity.andyframework.AndyHttpActivity"/>
        <activity android:name=".activity.andyframework.AndyBitmapActivity"/>
        <activity android:name=".activity.WebServiceActivity"/>
        <activity android:name=".activity.GroupListView"/>
        <activity android:name=".activity.systemAppInfo.GetApplicationOfInstalled"/>
        <activity android:name=".activity.systemAppInfo.GetApplicationOfSystem"/>
        <activity android:name=".activity.resideLayout.ResideLayoutActivity"/>
        <activity android:name=".activity.SlidingActivity"/>
        <activity android:name=".activity.ExpandableLVActivity"/>
        <activity android:name=".activity.GifViewActivity"/>
        <activity android:name=".activity.NetWorkStateActivity"/>
        <activity android:name=".activity.ValidateActivity"/>
        <activity android:name=".activity.animation.AnimationActivity"/>
        <activity android:name=".activity.SurfaceViewActivity"/>
        <activity android:name=".activity.LocationBaiduActivity"/>
        
        <activity android:name=".activity.gaode.GaodeStartActivity"/>
        <activity android:name=".activity.gaode.CurrentWeatherReportActivity"/>
        <activity android:name=".activity.gaode.FutureWeatherReportActivity"/>
        <activity android:name=".activity.gaode.NetLocationActivity"/>
        <activity android:name=".activity.gaode.MultyLocationActivity"/>
		<activity android:name=".activity.gaode.GeoFenceActivity"/>
		<activity android:name=".activity.gaode.GPSLocationActivity"/>
		<activity android:name=".activity.dragGridView.DragGridViewActivity"/>
        
        
        <!-- 监听app安装更新卸载 -->
        <receiver android:name=".activity.AppInstallReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" /> 
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        <!-- 网络状态监听测试 -->
        <receiver
		    android:name="com.andy.framework.util.network.AndyNetworkStateReceiver" >
		    <intent-filter> 
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> 
		        <action android:name="android.gzcpc.conn.CONNECTIVITY_CHANGE" />
		    </intent-filter> 
		</receiver>
        
        
        <!-- 百度地图定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        
        <!-- 高德地图 配置  value为appkey-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="936052e77550b6a80140629fb24a70ec" />
    </application>
</manifest>
